*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(147, 144, 144);
}
.img-container{
    width: 60%;
    height: 60vh;
    background: url("../img/photo-1515825838458-f2a94b20105a.avif") center/cover;
}